@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

/*Tirando espaçamento e espaçamento do titulo para o texto */
* {
    margin: 0;
    padding:0;
}

body {
    height: 100vh; /* altura do body, 100% da tela */
    box-sizing: border-box;
    background-color: black;
    color: #F6F6F6;
}

/* criando classe */
.titulo-destaque {
    color: #22d4fd
}

.apresentacao {
    margin: 10% 15%;
    display: flex; /* Coloca os elementos em efeito de linha */
    align-items: center;
    justify-content:space-between; /* Responsável por justificar, formatando  o texto */
}

.apresentacao__conteudo{
    width: 615px; /* largura*/
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.apresentacao__conteudo__titulo{
    font-size: 36px;
    font-family:'Krona One', sans-serif;
}
.apresentacao__conteudo__paragrafo{
    font-size: 24px;
    font-family:'Montserrat', sans-serif;
}
.apresentacao__links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao_links_subtitulo{
    font-family: 'Krona One', sans-serif;
    font-weight: 400;
    font-size: 24px;
}

.apresentacao__links__link{
    border: 2px solid #22d4fd;
    width: 378px;
    text-align: center;
    border-radius: 8px; /*borda de algum lugar*/
    font-size: 24px;
    font-weight: 600;
    padding: 21.5px 0; /*primeiro valor eixo vertical, segundo horizontal */
    text-decoration: none; /* retira o sublinhado da palavra */
    color: #F6F6F6;
    font-family:'Montserrat', sans-serif;
}


